@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-dark: #030208;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-backgroundDark: var(--background-dark);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-100: #8ad0ff;
  --color-primary-200: #52c1ff;
  --color-primary-300: #1ba5ff;
  --color-brandCP: #0af7c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
